
    <section class="col-xl-4 col-lg-6 col-md-6 col-12 login-form">
        <h2 class="font-weight-light text-center my-3">Enter your details</h2>
        <p class="valid text-success">Valid. Please wait a moment.</p>
        <p class="error text-danger">Error. Please enter correct Username &amp; password.</p>
      <form class=" loginbox form-group" autocomplete="current-password">
          <input  class="form-control mb-2" placeholder="Username" type="text" id="username" required></input>
          <input class="form-control mb-2" placeholder="Password" type="password" id="password" required></input>
      <button class="form-control btn-primary"id="submit">Login</button>
      </form>
    </section>

